<h2>Example 2-a: <span class="code">ngFor</span></h2>
<div class="card" *ngFor="let meetup of meetups">
  <h3>{{ meetup.title }}</h3>
  <p>Date: {{ meetup.date }}</p>
  <p>ID: {{ meetup.id }}</p>
</div>

<!-- <h2>Example 2-b: <span class="code">ngFor</span></h2>
<div class="card" *ngFor="let meetup of meetups; index as i">
  <h3>{{ meetup.title }}</h3>
  <p>Date: {{ meetup.date }}</p>
  <p>ID: {{ meetup.id }} (index: {{ i }})</p>
</div> -->

<!-- <h2>Example 2-c: <span class="code">ngFor</span></h2>
<div class="card" *ngFor="let meetup of meetups; index as i">
  <h3>{{ meetup.title }}</h3>
  <p>Date: {{ meetup.date }}</p>
  <p>ID: {{ meetup.id }}</p>
</div>
<button mat-raised-button (click)="updateMeetups()" class="primary">
  Update Meetups
</button> -->

<!-- <h2>Example 2-d: <span class="code">ngFor</span></h2>
<div class="card" *ngFor="let meetup of meetups; index as i; trackBy: trackById">
  <h3>{{ meetup.title }}</h3>
  <p>Date: {{ meetup.date }}</p>
  <p>ID: {{ meetup.id }}</p>
</div>
<button mat-raised-button (click)="updateMeetups()" class="primary">
  Update Meetups
</button> -->
<!-- see example by Fun Of Heuristic https://www.youtube.com/watch?v=8hj3ViywQZk -->