/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 {
  padding-top: 12px;
  padding-bottom: 24px;
}

.container {
  margin: 24px;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: larger;
  color: #7A4BA2;
  padding: 0 6px 24px 6px;
}

.result {
  margin-top: 36px;
  height: 24px;
  border: 3px solid #A1C92D;
  padding: 8px;
}

.primary {
  background-color: #7A4BA2;
  color: white;
}

.secondary {
  background-color: white;
  color: #7A4BA2;
  border: 1px solid #7A4BA2 !important;
}
